<!-- templates/index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Scraper</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script>
        function toggleLoading(event) {
            event.preventDefault(); // Prevents the default form submission behavior

            const group = document.getElementById('group').value;
            const provider = document.getElementById('provider').value;
    
            const overlay = document.createElement('div');
            overlay.style.position = 'fixed';
            overlay.style.top = '0';
            overlay.style.left = '0';
            overlay.style.width = '100vw';
            overlay.style.height = '100vh';
            overlay.style.backgroundImage = "url('../static/css/loading.gif')"; // Replace with your image path
            overlay.style.backgroundSize = 'cover';
            overlay.style.zIndex = '9999';
            document.body.appendChild(overlay);
            const redirectUrl = `/scrape?group=${encodeURIComponent(group)}&provider=${encodeURIComponent(provider)}`;
            setTimeout(() => {
                window.location.href = redirectUrl; // Redirect to '/scrape' after a delay
            }, 1000); 
        }
    </script>
</head>
<body>
    <form>
        <label for="group">Group:</label>
        <input type="text" id="group" name="group" value="{{ default_group }}"><br><br>
        
        <label for="provider">Provider:</label>
        <input type="text" id="provider" name="provider" value="{{ default_provider }}"><br><br>
        
        <input type="submit" onclick="toggleLoading(event)" value="Submit">
    </form>
</body>
</html>
